.options{
    border-style: none;
    padding: 0.5em;
    border-radius: 0.5em;
    color: rgb(41, 155, 117);
    min-width: 20em;
    margin: 0.5em;
    border-bottom: solid 2px #74d4b4;
    font-size: 0.9em;
    font-family: 'Red Hat Display', sans-serif;
}