li {
    list-style:none; 
    margin: 0em auto;
    
}

.paginado{
    color: white;
    background: #74d4b4;
    font-family: 'Red Hat Display', sans-serif;
    margin: 0.4em;
    padding: 0.5em;
    border-radius: 0.2em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.288);
    transition: all ease-in .5s;
  

}

.paginado:hover{
    color: white;
    background: #79bba5;
   

}

.ul {
    display: flex;
    margin: 1.5em auto;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    padding: 1.2em;
    
}



